{% extends 'index.html' %}

{% block title %}
    formulario 
{% endblock title %}

{% block info %}
    <h2 class="masthead-subheading mb-0">
        Sección Empresas
    </h2>
{% endblock info %}

{% block contenido %}
    {% if miform.errors %}
    <p style="color:red">Los datos estan mal</p>
    {% endif %}
    <form action="/formularioe/", method="POST">{% csrf_token %}
        {{miform.as_table}}  
        <input type="submit", value="Crear">
    </form>
    <p></p>
    <button><a href=" {% url 'BuscarnombreE' %}">buscar</a></button>
    <button><a href="{% url 'MostrarE' %}">Mostrar todas las Empresas</a></button>
{% endblock contenido %}